$background-red: #FF6336;
$background-pink: #FF9C7D;
$background-wh: #FFFFFF;
$background-bl: black;

$font-size65: 65px;
$max-width: 1290px;
$line-height: 60px;
$font-weight: 600;
$bord: 1px solid #000000;

