@import '../general/sass-base.scss';

.header {
    margin: 0 auto;
    max-width: 1440px;
}
.header_block {
    display: flex;
    padding-top: 50px;
    gap: 720px;
}

.header_logo {
    display: flex;
    align-items: center;
   

    & a {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        color: #323264;
        vertical-align: top;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
}

.logo {
    display: flex;
    align-items: flex-end;

    .g img,
    .slash img {
        transform: translate(0px, 10px);
    }
}





.nav {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: flex-end;
}

.nav_block {
    display: flex;
    flex-direction: row;
       gap: 18px;
    align-items: end;

    .nav_language a,
    .nav_adress a {
        @include h5;
        color: $color-white;
        font-weight: $font-weight-bold;
    }
}



.nav_adress.contact a:last-of-type:hover {
    background-image: $color-pink;
    background-image: url(/lesson14_finish/image14/FBredr.png);
}

object:hover {
    background-image: url(/lesson14_finish/image14/FBredr.png);
}

a.link.active {
    display: flex;
    align-items: center;
    background-color: $color-pink;
    border-radius: 5px;
    width: 33px;
    height: 25px;
    justify-content: center;
}


.nav_adress {
    display: flex;
    gap: 18px;
    align-items: end;
}

.nav_language {
    display: flex;
    gap: 14px;
    align-items: flex-end;
    @include span;
}

.nav_language a:hover {
    display: flex;
    background-color: $color-background;
    border-radius: 5px;
    color: $color-blue-dark;
    width: 33px;
    height: 25px;
    align-items: flex-end;
}

.nav_adress a::before {
    content: '';
    width: 6px;
    height: 6px;
    color: $color-grey-light;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.nav_adress a:first-of-type {
    font-weight: 400;
    color: $color-grey-light;
}

.nav_menu {
    display: flex;
    color: $color-blue;
    @include h5;
    gap: 15px;
    & a {
        color: $color-blue;
    }
}



.nav_menu a.active {
    color: $color-pink;
    border-bottom: 2px solid;
}

.nav_menu a:hover {
    color: $color-pink;
    border-bottom: 2px solid;
    transition-duration: 2s;
    transition-timing-function: 1s;
}

@media screen and (max-width: 768x) {
    
    section.header {
        width: 100%;
    }

    section.header,
    .wrapper {
        max-width: 768px;
    }

    
}