@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../../../FONTs/Montserrat-VariableFont_wght.woff2);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.arrow {
  display: flex;
  width: 32px;
  height: 32px;
  background: #F5F5FA;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.block_text.arrow:hover {
  color: #F0145A;
}

input:focus {
  border: 1px solid #24A3FF;
}

.pagination a {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #b5d0d1;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../../../FONTs/Montserrat-VariableFont_wght.woff2);
}
.header {
  margin: 0 auto;
  max-width: 1440px;
}

.header_block {
  display: flex;
  padding-top: 50px;
  gap: 720px;
}

.header_logo {
  display: flex;
  align-items: center;
}
.header_logo a {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #323264;
  vertical-align: top;
}
.header_logo__main {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.logo {
  display: flex;
  align-items: flex-end;
}
.logo .g img,
.logo .slash img {
  transform: translate(0px, 10px);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-end;
}

.nav_block {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: end;
}
.nav_block .nav_language a,
.nav_block .nav_adress a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  font-weight: 700;
}

.nav_adress.contact a:last-of-type:hover {
  background-image: #F0145A;
  background-image: url(/lesson14_finish/image14/FBredr.png);
}

object:hover {
  background-image: url(/lesson14_finish/image14/FBredr.png);
}

a.link.active {
  display: flex;
  align-items: center;
  background-color: #F0145A;
  border-radius: 5px;
  width: 33px;
  height: 25px;
  justify-content: center;
}

.nav_adress {
  display: flex;
  gap: 18px;
  align-items: end;
}

.nav_language {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
}

.nav_language a:hover {
  display: flex;
  background-color: #F5F5FA;
  border-radius: 5px;
  color: #323264;
  width: 33px;
  height: 25px;
  align-items: flex-end;
}

.nav_adress a::before {
  content: "";
  width: 6px;
  height: 6px;
  color: #B3B3BA;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.nav_adress a:first-of-type {
  font-weight: 400;
  color: #B3B3BA;
}

.nav_menu {
  display: flex;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  gap: 15px;
}
.nav_menu a {
  color: #24A3FF;
}

.nav_menu a.active {
  color: #F0145A;
  border-bottom: 2px solid;
}

.nav_menu a:hover {
  color: #F0145A;
  border-bottom: 2px solid;
  transition-duration: 2s;
  transition-timing-function: 1s;
}

@media screen and (max-width: 768x) {
  section.header {
    width: 100%;
  }

  section.header,
.wrapper {
    max-width: 768px;
  }
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../../../FONTs/Montserrat-VariableFont_wght.woff2);
}
.about_wrapper {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
}

.nav_block .nav_language a,
.nav_block .nav_adress a {
  color: #B3B3BA;
}

.intro,
.more_block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  padding: 60px 180px;
}

.intro_idea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  max-width: 658px;
}

.intro_idea h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.more_title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.intro_idea p,
.more_title p {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}

.intro_idea {
  border-right: 4px solid #E6E6F0;
  padding-right: 30px;
}

.intro_right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.intro_right__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.intro_right__block.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
  align-items: center;
}

.intro_right span {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  line-height: 44px;
}

.intro_right p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #323264;
  font-weight: 400;
}

.team {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  height: 438px;
  background-image: url(/lesson14_finish/image14/Team.jpg);
}

.team img {
  max-width: 100%;
  position: relative;
}

.team h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 63px;
  color: white;
  position: absolute;
  transform: translate(100%, 150%);
}

.more_block {
  gap: 60px;
}

.more_title:first-child {
  max-width: 658px;
}

.more_title:last-of-type {
  max-width: 100%;
}

.achieve {
  background-color: #F5F5FA;
}

.achieve_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}

.achieve_block.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.row_item {
  display: flex;
  text-align: center;
  width: 300px;
  background: white;
  padding: 25px 0;
}
.row_item img {
  margin: auto;
}

.achieve_block h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #323264;
}

.pagination {
  display: flex;
  gap: 15px;
  margin: 0 auto;
}

.pagination a {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #b5d0d1;
}

.pagination a.active {
  background: #24A3FF;
}

.pagination a:hover {
  background: #24A3FF;
  opacity: 0.6;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../../../FONTs/Montserrat-VariableFont_wght.woff2);
}
footer {
  width: 100%;
  background: #F5F5FA;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
}

.wrapper {
  padding-bottom: 0;
}

.footer_block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
  width: 1320px;
}

.footer_adress {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  align-items: center;
  gap: 763px;
}

.footer_adress.map {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
}

.footer_adress.contact {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  padding-top: 20px;
}

.footer_adress.contact a,
.footer_adress.map a:last-of-type,
.footer_adress.contact img {
  color: #24A3FF;
  font-weight: 700;
}

.footer_adress.contact a:hover {
  color: #F0145A;
}

.footer_adress.map a:last-of-type {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
}

.footer_adress.contact a:nth-of-type(2) {
  font-weight: 700;
  color: #46466E;
}

address a {
  font-weight: 700;
  font-style: normal;
  color: #24A3FF;
}

.footer_adress a:before {
  content: "";
  width: 6px;
  height: 6px;
  color: #B3B3BA;
}

.footer_adress a:first-of-type {
  font-weight: 400;
  color: #46466E;
}

.footer_adress.contact address a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #24A3FF;
}

.footer_right {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #B3B3BA;
  font-weight: 400;
}/*# sourceMappingURL=mane-about.css.map */